body {
    height: 100%;
    width: 100%;
    //   background-image: url("../../assets/greeting.png");
}

.greeting1 {
    margin-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: xx-large;
    color: rgb(105, 136, 4);
}

.greeting2 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.contact-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(172, 170, 170);
    padding: 30px;
}

.contactus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin-left: 50px;
    margin-right: 50px;
}

.mat-card {
    box-shadow: 1px 2px 2px 2px #04ffff;
}

.email {
    height: 8rem;
    width: 15rem;
}

mat-card-content {
    padding: 30px;
}
