.title {
    text-align: left;
    font: Regular 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.imgLogo {
    margin-left: 110px;
    width: 31px;
    height: 24px;
    opacity: 1;
}
